:root{
  --white:#ffffff;
  --black:#1B1C1F;
  --sm:8px;
  --md:16px;
  --lg:32px;
}
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  font-size: var(--md);
  font-family: 'Overpass', sans-serif;
  background-color: var(--black);
}
.App{  
  
  
  text-align: center;
}
.title{
  font-size: var(--lg);
  color:var(--white);
}
.main-container{
  margin: 15px;
}