:root{
  --white:#ffffff;
  --black:#1B1C1F;
  --sm:8px;
  --md:16px;
  --lg:32px;
}

*{
  font-size: var(--md);
  font-family: over;
}
.App{
  display: grid;
  grid-template-rows: repeat(2,1fr);  
  background-color: var(--black);
  justify-content: center;
  text-align: center;
}
.title{
  color:var(--white);
}